<div class="services-page">
  <div class="container">
      <div class="tilte-block text-center">
          <span class="animated-delay-1" animateOnScroll animationName="animated fadeInDown">Services</span>
          <h1 class="animated-delay-2" animateOnScroll animationName="animated fadeInDown">Things We Offer</h1>
      </div>
      <div class="services">
          <div class="services-details">
              <div>
                  <span class="numbers">01</span>
                  <span class="text-block ">Strategy Building</span>
                  <p>
                      Discovery Stage is the first step in
                      Product Development. During the
                      Discovery Stage, Uptech will
                      communicate closely with you to
                      define the project vision and scope.
                  </p>
              </div>
              <div>
                  <span class="numbers">02</span>
                  <span class="text-block ">Product Design</span>
                  <p>
                      During this stage, we undertake user
                      research, prototype and test ideas,
                      and validate tech feasibility to create
                      a user friendly product with the right
                      market fit.
                  </p>
              </div>
          </div>
          <div class="services-details">
              <div>
                  <span class="numbers">03</span>
                  <span class="text-block ">Branding Design</span>
                  <p>
                      Creating a visual personality that
                      represents your all project
                      characteristics and it includes many
                      till we reach the end of branding
                      process.
                  </p>
              </div>
              <div>
                  <span class="numbers">04</span>
                  <span class="text-block ">Visual Design</span>
                  <p>
                      Our designers create the UX and UI
                      design for mobile and web apps.
                      Using moodboards and preparing
                      several UI concepts, we make sure
                      the client and the users love the
                      visual design of the future product.
                  </p>
              </div>
          </div>
          <div class="services-details">
              <div>
                  <span class="numbers">05</span>
                  <span class="text-block ">Vector
                      Design </span>
                  <p>
                      Discovery Stage is the first step in
                      Product Development. During the
                      Discovery Stage, Uptech will
                      communicate closely with you to
                      define the project vision and scope.
                  </p>
              </div>
              <div>
                  <span class="numbers">06</span>
                  <span class="text-block ">Motion
                      Design</span>
                  <p>
                      Present your idea in a catchy
                      animation or advertise your product
                      for better engagement.
                  </p>
              </div>
          </div>
      </div>
      <div class="services-process-block">
          <div class="text-center services-tilte-block">
              <span>Our Process</span>
              <p>Our process is no coincidence, it's a perfected
                  work flow over tens of projects.</p>

          </div>
          <div class="services-process">
              <div class="services-group">
                  <div class="process-number">
                      01
                  </div>
                  <div class="process-service-details">
                      <div class="row">
                          <div class="col-md-6">
                              <span>
                                  <span>Understanding</span>
                                  <span>And Discovery</span>
                              </span>
                          </div>
                          <div class="col-md-6">
                              <p>
                                  Our first step is always about gaining
                                  understanding & knowledge. We dig deep to
                                  know everything possible that will help us
                                  craft a better solution.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="services-group">
                  <div class="process-number">
                      02
                  </div>
                  <div class="process-service-details">
                      <div class="row">
                          <div class="col-md-6">
                              <span>
                                  <span class="no-wrap">Define Strategy</span>
                                  <span class="no-wrap">And Solutions</span>
                              </span>
                          </div>
                          <div class="col-md-6">
                              <p>
                                  At this stage we decide the needed business
                                  scope, then we start to define the information
                                  architecture, user stories and user flows.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="services-group" >
                  <div class="process-number">
                      03
                  </div>
                  <div class="process-service-details">
                      <div class="row">
                          <div class="col-md-6">
                              <span>
                                  Design Our
                                  Solutions
                              </span>
                          </div>
                          <div class="col-md-6">
                              <p>
                                  It's all about bringing emotions to logic. We
                                  map empathy and cognitive science to derive
                                  on a product that is not just usable but
                                  appealing as well.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="services-group">
                  <div class="process-number">
                      04
                  </div>
                  <div class="process-service-details">
                      <div class="row">
                          <div class="col-md-6">
                              <span class="deveolpLand">
                                  Development The Land
                              </span>
                          </div>
                          <div class="col-md-6">
                              <p>
                                  We give life to designs and make them a
                                  reality. The data is converted to graphical
                                  interface for the user to view and interact
                                  with it.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
