<header id="navbar" class="header" [ngClass]="{'navbar-fixed': navFixed}">
    <div class="container">
        <ul class="main-links">
            <li><a routerLink='/work/branding' routerLinkActive="active">work</a></li>
            <li><a routerLink='/services' routerLinkActive="active">services</a></li>
            <li><a routerLink='/about' routerLinkActive="active">about</a></li>
            <li><a routerLink='/contact' routerLinkActive="active">contact</a></li>
        </ul>
        <a routerLink="/home" class="logo"></a>
        <a class="butn butn-defult"> start a product</a>
    </div>

</header>
