<div class="contact-page">
  <div class="container">
      <div class="tilte-block text-center">
          <span class="animated-delay-1" animateOnScroll animationName="animated fadeInDown">CONTACT</span>
          <h1 class="animated-delay-2" animateOnScroll animationName="animated fadeInDown">Keep In Touch</h1>
      </div>

      <div class="plante-block">
          <img src="../../../assets/images/color-planet-blur.png " alt="" class="img-blur">
          <img src="../../../assets/images/color-planet.png" alt="" class="img-plante">
      </div>
      <div class="address-block">
          <span class="address">
                  <span>23 Bourne Avenue - SS15 6DX</span>
                  <span>Basildon, London, UK</span>      
          </span>
          <div class="info-block">
              <label>Email</label>
              <span class="info">info@hka.space</span>
          </div>
          <div class="info-block">
              <label>phone</label>
              <span class="info">+44 (0) 2081333230</span>
          </div>
      </div>
      <div class="contact-us-section">
          <div class="title-block">
              <span class="givUs">
                  Give us a call,
              </span>
              <p class="email-info">
                  Email us or just leave your contact info and a hint and we will get in touch right away.
              </p>

          </div>
          <form class="contact-form">
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                              <input type="text" id="name" class="form-control" required>
                              <label class="form-control-placeholder" for="name"> your Name</label>

                      </div>
                      <div class="form-group">
                              <input type="email" class="form-control" id="email" required>
                              <label class="form-control-placeholder" for="email">Your email</label>

                          </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="text" class="form-control" required >
                          <label class="form-control-placeholder" for="name">Project Name</label>

                      </div>
                      <div class="form-group">
                              <label class="form-control-placeholder" >Project Type</label>
                              <input type="text" class="form-control" required>
                               <i class="fa fa-angle-right"></i>
                          </div>
                  </div>
              </div>
              <!-- <div class="row">
                  <div class="col-md-6">

                  </div>
                  <div class="col-md-6">

                  </div>
              </div> -->
              <div class="row flexEnd">
                  <button type="submit" class="btn btn-primary butn">Send</button>
              </div>
          </form>
      </div>
  </div>
</div>
