<section class="home-page container">
  <span class="hint animated-delay-1" animateOnScroll animationName="animated fadeInDown" >We turn ideas and dreams</span>
  <h1 class="title animated-delay-3" animateOnScroll animationName="animated fadeInDown">Into Reality</h1>
  <div class="app-users">
    <div class="app-user-block-img">
      <div class="plante-block">
        <img src="../../../assets/images/color-planet-blur.png" alt="" class="img-blur">
        <img src="../../../assets/images/color-planet.png" alt="" class="img-plante">
      </div>
      <div class="app-user-block-text">
          <a class="scroll-to-down" (click)="scrollToElement(target)">SCROLL DOWN</a>
          <a class="scrolldown" (click)="scrollToElement(target)">
            <div id="mouse-scroll">
              <div class="scroll-block">
                  <span class="down-arrow-1"></span>
                  <span class="down-arrow-2"></span>
                  <span class="down-arrow-3"></span>
               </div>
            </div>
            </a>
          <p class="text">We craft unique passionate designs that <br/>
            leave an extraordinary remarkable experience for your</p>
            <div class="typewriter">
              <h2 class="sub-title typewriter-text">App Users</h2>
            </div>
         
          <a class="butn butn-white">More About Us</a>
          <a class="scrolldown" (click)="scrollToElement(target)">
            <div id="mouse-scroll">
              <div class="scroll-block">
                  <span class="down-arrow-1"></span>
                  <span class="down-arrow-2"></span>
                  <span class="down-arrow-3"></span>
               </div>
            </div>
            </a>
              <a class="scroll-to-down scroll-featured-projects" (click)="scrollToElement(target)">Featured Projects</a>
              <div class="scroll-to-down" id="featcher-mouse-scroll" (click)="scrollToElement(target)">
                <div class="scroll-block">
                    <span class="down-arrow-1"></span>
                    <span class="down-arrow-2"></span>
                    <span class="down-arrow-3"></span>
                 </div>
              </div>
      </div>

    </div>

  </div>
  <div class="featured-projects" #target>
    <h1 class="title">Featured Projects</h1>
    <div class="project-info">
      <div class="project-block">
        <div class="text-block animated-delay-1" animateOnScroll animationName="animated fadeInLeft" offset="120">
          <span class="years">1st</span>
          <span class="block-title">DYRES Systems</span>
          <span class="block-hint">Branding <br/> Print Materials <br/> Motion</span>
          <a class="view-link link-style" routerLink="/project-details">View Project <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="image-block animated-delay-1" animateOnScroll animationName="animated fadeInRight" offset="120">
        <!-- png -->
        <div class="img-zoom">
            <img src="../../../assets/images/home-images/bg-2.png"
            class="BG img-fluid">
        </div>
           <img src="../../../assets/images/home-images/dyres-main.png" class="DYRES-Main img-fluid">
        </div>
      </div>
      <div class="project-block">
        <div class="text-block animated-delay-2" animateOnScroll animationName="animated fadeInLeft" offset="130" >
          <span class="years">2ed</span>
          <span class="block-title">SISTERS Magazine</span>
          <span class="block-hint">Product Design <br/> Visual Design <br/> Development</span>
          <a class="view-link link-style">View Project <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="image-block animated-delay-2" animateOnScroll animationName="animated fadeInRight" offset="130">
        <!-- png -->
        <div class="img-zoom">
          <img src="../../../assets/images/home-images/bg.png"
          class="BG img-fluid">
        </div>


        <img src="../../../assets/images/home-images/sisters-main.png" class="SISTERS-Main img-fluid">
        </div>
      </div>
      <div class="project-block">
        <div class="text-block animated-delay-2" animateOnScroll animationName="animated fadeInLeft" offset="140">
          <span class="years">3rd</span>
          <span class="block-title">iPrayNow Mob App</span>
          <span class="block-hint">Branding <br/> Product Design <br/> Visual Design</span>
          <a class="view-link link-style">View Project <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="image-block animated-delay-2" animateOnScroll animationName="animated fadeInRight" offset="140">
        <!-- png -->
        <div class="img-zoom">
          <img src="../../../assets/images/home-images/bg-3.png"
          class="BG img-fluid">
        </div>
        <img src="../../../assets/images/home-images/ipraynow-main.png" class="ipraynow-main img-fluid">
        </div>
      </div>
    </div>
    <div class="butn-block">
      
        <a class="butn butn-defult">  <span>Explore More</span> </a>
    </div>

  </div>


  <div class="services">
    <h1 class="title">Things We Offer</h1>
    <span class="hint">
      Services we provide
    </span>
    <div class="services-info">
    <div class="services-block">
      <div class="text-block">
        <span class="years">1st</span>
        <span class="block-title">Strategy Building</span>
        <span class="block-hint">Branding <br/> Print Materials <br/> Motion</span>
      </div>
    </div>
    <div class="services-block">
      <div class="text-block">
        <span class="years">2st</span>
        <span class="block-title">Product Design</span>
        <span class="block-hint">Branding <br/> Print Materials <br/> Motion</span>
      </div>
    </div>
    <div class="services-block">
      <div class="text-block">
        <span class="years">3st</span>
        <span class="block-title">Branding Design</span>
        <span class="block-hint">Branding <br/> Print Materials <br/> Motion</span>
      </div>
    </div>
    <div class="services-block">
      <div class="text-block">
        <span class="years">4st</span>
        <span class="block-title">Visual Design</span>
        <span class="block-hint">Branding <br/> Print Materials <br/> Motion</span>
      </div>
    </div>
    <div class="services-block">
      <div class="text-block">
        <span class="years">5st</span>
        <span class="block-title">Vector Design</span>
        <span class="block-hint">Branding <br/> Print Materials <br/> Motion</span>
      </div>
    </div>
    <div class="services-block">
      <div class="text-block">
        <span class="years">6st</span>
        <span class="block-title">Motion Design</span>
        <span class="block-hint">Branding <br/> Print Materials <br/> Motion</span>
      </div>
    </div>

  </div>
  <div class="butn-block">
      <a class="butn butn-defult"> More Details</a>
  </div>

  </div>

  <div class="trusted-by">
    <h1 class="title">Trusted by </h1>
    <span class="hint">
      Brands we proud to work with
    </span>
    <ul class="trusted-list">
      <li><a><img src="../../../assets/images/clints/bvine.png" alt=""></a></li>
      <li><a><img src="../../../assets/images/clints/emerging-media.png" alt=""></a></li>
      <li><a><img src="../../../assets/images/clints/dyres.png" alt=""></a></li>
      <li><a><img src="../../../assets/images/clints/webkeyz.png" alt=""></a></li>
      <li><a><img src="../../../assets/images/clints/episoda.png" alt=""></a></li>
      <li><a><img src="../../../assets/images/clints/cameleon.png" alt=""></a></li>


    </ul>
  </div>
</section>
