<div class="project-info">
  <div class="project-block">
    <div class="text-block animated-delay-2" animateOnScroll animationName="animated fadeInLeft" offset="150">
      <span class="years">1st</span>
      <span class="block-title">DYRES Systems</span>
      <span class="block-hint">Branding <br/> Print Materials <br/> Motion</span>
      <a class="view-link link-style">View Project <i class="fa fa-arrow-right"></i></a>

    </div>
    <div class="image-block animated-delay-2" animateOnScroll animationName="animated fadeInRight" offset="150">
    <!-- png -->
    <div class="img-zoom">
      <img src="../../../assets/images/home-images/bg-2.png"
      class="BG img-fluid">
    </div>
    <img src="../../../assets/images/home-images/dyres-main.png" class="DYRES-Main img-fluid">
    </div>
  </div>
  <div class="project-block">
    <div class="text-block animated-delay-2" animateOnScroll animationName="animated fadeInLeft" offset="160">
      <span class="years">2ed</span>
      <span class="block-title">SISTERS Magazine</span>
      <span class="block-hint">Product Design <br/> Visual Design <br/> Development</span>
      <a class="view-link link-style">View Project <i class="fa fa-arrow-right"></i></a>

    </div>
    <div class="image-block animated-delay-2" animateOnScroll animationName="animated fadeInRight" offset="160">
    <!-- png -->
    <div class="img-zoom">
      <img src="../../../assets/images/home-images/bg.png"
      class="BG img-fluid">
    </div>
    <img src="../../../assets/images/home-images/sisters-main.png" class="SISTERS-Main img-fluid">
    </div>
  </div>
  <div class="project-block">
    <div class="text-block animated-delay-2" animateOnScroll animationName="animated fadeInLeft" offset="170" >
      <span class="years">3rd</span>
      <span class="block-title">DYRES Systems</span>
      <span class="block-hint">Branding <br/> Product Design <br/> Visual Design</span>
      <a class="view-link link-style">View Project <i class="fa fa-arrow-right"></i></a>

    </div>
    <div class="image-block animated-delay-2" animateOnScroll animationName="animated fadeInRight" offset="170">
    <!-- png -->
    <div class="img-zoom">
      <img src="../../../assets/images/home-images/bg-3.png"
      class="BG img-fluid">
    </div>
    <img src="../../../assets/images/home-images/ipraynow-main.png" class="ipraynow-main img-fluid">
    </div>
  </div>

  <div class="project-block">
      <div class="text-block animated-delay-2" animateOnScroll animationName="animated fadeInLeft" offset="180">
        <span class="years">4th</span>
        <span class="block-title">HKA Group</span>
        <span class="block-hint">Branding <br/> Product Design <br/> Visual Design</span>
        <a class="view-link link-style">View Project <i class="fa fa-arrow-right"></i></a>

      </div>
      <div class="image-block animated-delay-2" animateOnScroll animationName="animated fadeInRight" offset="180">
      <!-- png -->
      <div class="img-zoom">
        <img src="../../../assets/images/home-images/bg-4.png"
        class="BG img-fluid">
      </div>
      <img src="../../../assets/images/home-images/hka-group-main.png" class="HKA-Group-Main img-fluid">
      </div>
    </div>

      <div class="project-block">
          <div class="text-block animated-delay-2" animateOnScroll animationName="animated fadeInLeft" offset="190">
            <span class="years">5th</span>
            <span class="block-title">Addicta Studio</span>
            <span class="block-hint">Branding <br/> Print Materials  <br/></span>
            <a class="view-link link-style">View Project <i class="fa fa-arrow-right"></i></a>

          </div>
          <div class="image-block animated-delay-2" animateOnScroll animationName="animated fadeInRight" offset="190">
          <!-- png -->
          <div class="img-zoom">
            <img src="../../../assets/images/home-images/bg-5.png"
            class="BG img-fluid">
          </div>

          <img src="../../../assets/images/home-images/addicta-main-s.png"
         class="addicta-main img-fluid">
          </div>
        </div>
</div>
