
<div class="pattern-one"></div>
<header-component class="header-fixed"></header-component>
<div class="wrapper" [@myAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>
<footer-component class="mt-auto"></footer-component>
<a class="scroll-to-top" *ngIf="showScroll"  (click)="gotoTop()" ><i class="la la-arrow-up"></i></a>

<div class="loader" *ngIf="isLoaded">
  <p>Loading</p>
</div>
