<div class="project-details-page">
  <div class="project-details container mb-5 mt-5 projSec">
      <div class="row">
          <div class="col-md-4">
              <div class=" dyres-stems-block">
                  <a class="view-link-block link-style-block" href="#">Back  <span class="inline-block"> To All Projects</span> 
                      <i class="laicon  fa fa-arrow-right"></i>
                  </a>
                  <span class="block-title">
                      DYRES
                      Systems
                  </span>
              </div>
          </div>

          <div class="col-md-5">
              <div class="text-left brand-block">
                  <span class="title">All new brand</span>
                  <p>We are honored to design the new
                      brand of DYRES, one of the biggest
                      software houses in the Middle East.
                  </p>
              </div>
          </div>
          <div class="col-md-3">
              <div class="scop-block">
                  <span class="title">
                      Scoop
                  </span>
                  <p>
                      <span >Branding</span>
                      <span>Print Materials</span>
                      <span>Motion</span>
                  </p>
              </div>
          </div>
      </div>
  </div>
  <div class="dyres-img-block">
          <!-- <picture>
                  <source media="(min-width: 1200px)" srcset="../../../assets/images/project-details-images/DYRES-Main.png">
          </picture> -->
     
        <img class="img-fluid" src="../../../assets/images/project-details-images/DYRES-Main.png" alt="">
      
  </div>
  <div class="project-details displayBlock">
          <div class="col-md-6">
                  <div class="text-left">
                      <span class="title">All new brand</span>
                      <p>We are honored to design the new
                          brand of DYRES, one of the biggest
                          software houses in the Middle East.
                      </p>
                  </div>
              </div>
              <div class="col-md-6">
                  <div>
                      <span class="title">
                          Scoop
                      </span>
                      <p>
                        <span class="branding">Branding</span>
                        <span class="print-matrials">Print Materials</span>
                        <span class="motion">Motion</span>
                      </p>
                  </div>
              </div>
  </div>
  <div class="projects-process container">
      <div class="process-details ">
          <div class="animated-delay-1" animateOnScroll animationName="animated fadeInLeft" offset="120">
              <span class="numbers">01</span>
              <span class="text-block mb-4">The Challenge</span>
              <p>
                  DYRES name came from 2 words Dynamic, Resilience. And It was very
                  challenging to create a brand style
                  that connect between them, but we
                  succeeded to achieve that.
              </p>
          </div>
          <div class="img-zoom animated-delay-1" animateOnScroll animationName="animated fadeInRight" offset="120">
              <img class="img-fluid" src="../../../assets/images/project-details-images/challenge.png" alt="">
          </div>
      </div>
      <div class="process-details">
          <div class="img-zoom animated-delay-2" animateOnScroll animationName="animated fadeInLeft" offset="130">
              <img class="img-fluid" src="../../../assets/images/project-details-images/trails.png" alt="">
          </div>
          <div class="animated-delay-2" animateOnScroll animationName="animated fadeInRight" offset="130">
              <span class="numbers">02</span>
              <span class="text-block mb-4">Many Trails</span>
              <p>
                  According to reach the coming final result we went through many and many steps and trails.
              </p>
          </div>
      </div>
      <div class="process-details">
          <div class="animated-delay-3" animateOnScroll animationName="animated fadeInLeft" offset="140">
              <span class="numbers">03</span>
              <span class="text-block mb-4">Final Concept</span>
              <p>
                      The word DYRES consists of merging between two words which are Dynamic & Resilience.                </p>
          </div>
          <div class="img-zoom animated-delay-3" animateOnScroll animationName="animated fadeInRight" offset="140">
              <img class="img-fluid" src="../../../assets/images/project-details-images/final-concept.png" alt="">
          </div>
      </div>
  </div>
  <div class="concept-details">
      <span class="number">03</span>
      <span class="title">Concept Details</span>
      <p class="text-center">This shows how logo is constructed from its parts and
          what is the relation between the</p>
        
      <img class="img-fluid" src="../../../assets/images/project-details-images/DYRES part.png" alt="">
  </div>
  <div class="branding-identity container text-center">
      <span class="number">05</span>
      <span class="title">Branding Identity</span>
      <p>Here you will view some the branding identity items, like: Colors, Iconography and Imagery</p>
      <div class="branding-identity-imgs">
          <div>
              <span>color Palette</span>
              <div class="img-zoom custom-zoom">
                <img class="img-fluid" src="../../../assets/images/project-details-images/color-palette.png" alt="">
              </div>
          </div>
          <div>
              <span>Iconography</span>
              <div class="img-zoom custom-zoom">
                <img class="img-fluid" src="../../../assets/images/project-details-images/iconography.png" alt="">
              </div>
          </div>
          <div>
              <span>Imagery</span>
              <div class="img-zoom custom-zoom">
                <img class="img-fluid" src="../../../assets/images/project-details-images/Imagery.png" alt="">
              </div>
          </div>
      </div>
  </div>
  <div class="printed-stationery text-center">
      <span class="number">06</span>
      <span class="title">Printed Stationery</span>
      <p class="mb-4">How the branding identity will appear in the real world through all company stationery</p>
      <div class="printed-stationery-img">
      </div>
  </div>
  <div class="studio-magazine container">
      <div class="addicta-studio">
          <a class="view-link link-style">previous <i class="fa fa-arrow-right"></i></a>

          <span class="text-block">Addicta Studio</span>
      </div>
      <div class="sister-magazin">
          <a class="view-link link-style">next <i class="fa fa-arrow-right"></i></a>

          <span class="text-block">SISTERS Magazine</span>
      </div>
  </div>
</div>
