<div class="about-page">
  <div class="container">
      <div class="tilte-block text-center">
          <span class="animated-delay-1" animateOnScroll animationName="animated fadeInDown">about</span>
          <h1 class="animated-delay-2" animateOnScroll animationName="animated fadeInDown">We Are</h1>
          <h1 class="animated-delay-3" animateOnScroll animationName="animated fadeInDown"> HKA Design Team</h1>
          <span class=" animated-delay-4" animateOnScroll animationName="animated fadeInDown">HKA Space is a part of the HKA Group</span>
      </div>
      <div class="inspired-by-block">
          <div class="row">
              <div class="col-md-7 col-sm-12">
                  <div class="animated-delay-2" animateOnScroll animationName="animated fadeInLeft" offset="170">
                      <span class="inspired-by">Inspired by </span>
                      <span class="inspirer-name">Henry Kofi Amankwah</span>
                      <p class="owner-info">Henry Kofi Amnkway was the mentor to both founders ARMN and Abdul, they both met him early
                          years of their career and acquired a lot their work ethics working with him on very
                          ambitious projects. </p>
                      <p>This is why we are called HKA after his initials for more about Henry <a>hka.group/ henry</a> </p>
                  </div>
              </div>
              <div class="col-md-5 col-sm-12">
                  <div class="animated-delay-2 "animateOnScroll animationName="animated fadeInRight" offset="170">
                      <img class="owner-img img-fluid" src="../../../assets/images/about/owner.png" alt="">
                  </div>
              </div>
          </div>
      </div>
      <div class="founers-block">
          <span> </span>
          <p></p>
          <div class="text-center founders-tilte-block">
              <span class="animated-delay-1" animateOnScroll animationName="animated fadeInDown">Founders</span>
              <p class="animated-delay-2" animateOnScroll animationName="animated fadeInDown">We can't prove much by words but our projects speak louder</p>
          </div>
          <div class="founders">
              <div class="founder animated-delay-2 "animateOnScroll animationName="animated fadeInLeft" offset="300">
                  <img class="img-fluid" src="../../../assets/images/about/founder1.png" alt="">
                  <span class="founder-title">CEO & Founder</span>
                  <span class="founder-name">Abdulreman Osama</span>
              </div>
              <div class="founder animated-delay-2 "animateOnScroll animationName="animated fadeInRight" offset="300">
                  <img class="img-fluid" src="../../../assets/images/about/founder2.png" alt="">
                  <span class="founder-title">Art Director & Cofounder</span>
                  <span class="founder-name">Abdul Rahman Najuib</span>
              </div>
          </div>
      </div>
  </div>
</div>
