<footer class="footer">
    <!-- <img class="pattern-two" src="../../../assets/images/orbits-reverse.png" alt=""> -->
<div class="container">
    <div class="opinion">
        <img src="../../../assets/images/planet-footer.png" alt="">
        <div class="ask-opinion">
          <h1>We are excited to hear about
              your project!</h1>

              <div class="hear-about">
                <span class="question">Do you have a name for it ?</span>
                <div class="select-answer">
                  <a class="butn butn-white mr-4">Yes</a>
                  <a class="butn butn-white">No</a>
                </div>
              </div>
        </div>

      </div>
      <div class="footer-bottom container">
          <ul class="main-links">
              <li><a routerLink='/work/branding'>work</a></li>
              <li><a routerLink='/services'>services</a></li>
              <li><a routerLink='/about'>about</a></li>
              <li><a routerLink='/contact'>contact</a></li>
          </ul>
          <span class="copy-right">©2019 - HKA Space</span>
          <a routerLink="/home" class="logo"></a>
          <ul class="social-links">
              <li><a href="https://www.facebook.com/">facebook</a></li>
              <li><a href="https://www.instagram.com/">instagram</a></li>
              <li><a href="http://dribble.com/">dripple</a></li>
          </ul>
      </div>
</div>

</footer>
