/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './assets/sass/sass-variables.scss';
@import '~font-awesome/css/font-awesome.min.css';
@import './assets/libs/css/line-awesome.min.css';
@import '~animate.css/animate.min.css';
.animated-delay-1 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
}

.animated-delay-2 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
}

.animated {
  visibility: visible !important;
}
.hide-on-init {
  visibility: hidden;
}

body,
html,
h1,h2,h3,h4,h5,h6,
ul,p{
    margin: 0;
    padding: 0;
}
body {
  overflow: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
*,*:focus{
    outline: none !important;
}
a,div,section,span{
    display: block;
}
html, body {
    height: 100%;
  }
  a{
    text-decoration: none !important;
  }

  html {
    scroll-behavior: smooth;
  }
  
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

/******************* Start Header Style  *******************/
@font-face {
    font-family: "shentox regular";
    src: url("assets/fonts/shentox-font/Shentox.ttf");
  }
  @font-face {
    font-family: "CircularStdBlack";
    src: url("assets/fonts/circular-font/CircularStd-Black.ttf");
  }
  @font-face {
    font-family: "CircularStdBold";
    src: url("assets/fonts/circular-font/CircularStd-Bold.ttf");
  }
  @font-face {
    font-family: "CircularStdBook";
    src: url("assets/fonts/circular-font/CircularStd-Book.ttf");
  }
  @font-face {
    font-family: "CircularStdMeduim";
    src: url("assets/fonts/circular-font/CircularStd-Medium.ttf");
  }


.defult-btn{
    position: relative;
    color: $white !important;
    padding: 0 25px;
    height: 45px;
    display: flex;
    align-items: center;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-image: linear-gradient(to right, #680dd1 10%, #c93ccc 100%);
    text-transform: uppercase;
    font-size: 12px;
    &::before{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 45px;
        border-color: transparent transparent transparent #ffffff;
        position: absolute;
        left: -33px;
    }
}
.scroll-to-top{
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  padding: 5px 18px;
  color: #fff !important;
  border-color: #690ad2;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-image: linear-gradient(to right, #680dd1 10%, #c93ccc 100%);
  clip-path: polygon(76% 0%, 100% 0, 100% 100%, 12% 100%, 0 72%, 0 0);

}
.butn-block{
  display: flex;
  justify-content: center;
  .butn.butn-defult{
    position: relative;
    transition: all 0.5s;
    &::after{
      content: "\f061";
      font-family: FontAwesome;
      position: absolute;
      opacity: 0;
      top: 0px;
      right: 26px;
      transition: 0.5s;
    }
    &:hover{
      padding-right: 24px;
      padding-left:8px;
    }
    &:hover:after{
      opacity: 1;
      right: 5px;
    }


  }

}
.link-style{
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  &::before{
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    right: 2px;
    height: 1.2px;
    bottom: 0;
    background-image: linear-gradient(to right, #680dd1 15%, #c93ccc 112%);
  }
  &::after{
    content: "";
    width: 1.2px;
    height: 15px;
    background-image: linear-gradient(to right, #680dd1 15%, #c93ccc 112%);
    position: absolute;
    left: -10px;
    bottom: -1.5px;
    transform: rotate(-45deg);
  }
  .fa{
    position: absolute;
    bottom: -4px;
    color: #c93ccc;
    font-size: 10px;
  }
  .la{
      content: "\f061";
      font-family: 'Line Awesome Free';
      position: absolute;
      bottom: -5.5px;
      right: -10px;
      background:linear-gradient(to right, #680dd1 15%, #c93ccc 112%) ;
      -webkit-background-clip: text;
      font-size: 10px;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #680dd1 10%, #c93ccc 100%);
  opacity: 0.5;
}



  body{
    position: relative;
    overflow-x: hidden;
    background-position: 230px;
    zoom: 125%;

  }
  .pattern-one{
    background: url(assets/images/orbits.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: 32px;
}

.butn{
  display: inline-block;
  min-width: 110px;
  height: 45px;
  background: #fff;
  padding: 0 21px;
  font-size: 12px;
  font-family: "shentox regular";
  font-weight: 600;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  line-height: 48px;
  position: relative;
  clip-path: polygon(76% 0%, 100% 0, 100% 100%, 12% 100%, 0 72%, 0 0);
  &.butn-white{
    background-color: $white;
    color: $violet-blue !important;
  }
  &.butn-defult{
    color: $white !important;
    border-color: $violet-blue;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-image: linear-gradient(to right, #680dd1 10%, #c93ccc 100%);
  }
}
// header.header.container{
//   max-width: 70% !important;
// }
.header-fixed{
  position: fixed;
  width: 100%;
  z-index: 9999999999999;
}
.header {
  
  z-index: 100;
  width: 100%;

  &.navbar-fixed{
    position: fixed;
    // background:#fff !important;
    padding-bottom: 15px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -10px #99999996;
  }
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 12px;
    font-family: "shentox regular";
    text-transform: uppercase;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.9px;
    font-weight: 600;
    align-items:center;
    .main-links{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-right: 20px;
            &:last-child{
              margin-right: 0;
            }
            a{
                color: $heather;
                font-size: 10px;
                font-weight: 800;
                &.active{
                  color: $violet-blue;
                }
            }

        }
    }

    .logo{
        background:url(assets/images/logo_2019-12-04/emblem.svg) no-repeat;
        width: 54.2px;
        height: 42.8px;
        margin-right: 55px; 
        background-size: 100% 100%;
    }
}
}

/******************* End Header Style  *******************/
.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    font-family: "shentox regular";
    text-transform: uppercase;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.9px;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    // overflow: hidden;
    .footer-bottom.container{
      max-width: 93% !important;
    }
    .pattern-two{
      position: absolute;
      bottom: -366px;
      z-index: -1;
    }
    &::before{
      content: '';
      background: url(assets/images/orbits-reverse.png);
      position: absolute;
      height: 1201px;
      width: 100%;
      bottom: 0;
      z-index: -2;
    }
    .footer-bottom{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-top: 200px;
      .copy-right{
        display: none;
      }
    }
    .opinion{
      width: 100%;
      display: flex;
      justify-content: center;
      // margin-top: 150px;
      img{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        width: 600px;
        -webkit-animation: spin 40s linear infinite; /* Safari */
        animation: spin 40opinion s linear infinite;
        }
        .ask-opinion{
          width: 775px;
          height: 300px;
          -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
          background-color: rgba(105, 10, 210, 0.7);
          margin-top: 18%;
          padding: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h1{
            color: $white;
            font-family: 'CircularStdBlack';
            font-size: 39px;
            text-transform: initial;
          }
          .hear-about{
            display: flex;
            justify-content: space-between;
            margin-top: 45px;
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            font-weight: 600;
            color: #fff;
            .question{
              position: relative;
              display: inline-block;
              &::before{
                content: "";
                position: absolute;
                width: calc(100% + 2px);
                right: 2px;
                height: 2px;
                bottom: 0;
                background-color:$white;
              }
              &::after{
                content: "";
                width: 2px;
                height: 15px;
                background-color:$white;
                position: absolute;
                left: -10px;
                bottom: -1px;
                transform: rotate(-45deg);
              }
            }

          }
          .select-answer{
            display: flex;
            .butn{
              font-size: 16px !important;
              &::first-child{
                margin-left: 15px;
              }
            }

          }
      }


    }
    .main-links,
    .social-links{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-right: 20px;
            a{
                color: $heather;
                font-size: 10px;
            }
        }
    }
    .logo{
      background:url(assets/images/logo_2019-12-04/emblem.svg) no-repeat;
      width: 54.2px;
      height: 42.8px;
      background-size: 100% 100%;
  }
}

/******************* Start Footer Style  *******************/

/******************* End Footer Style  *******************/

/* most used style*/
.img-zoom{
  overflow: hidden;
  -webkit-clip-path: polygon(76% 0%, 100% 0, 100% 100%, 10% 100%, 0 84%, 0 0);
  clip-path: polygon(76% 0%, 100% 0, 100% 100%, 10% 100%, 0 84%, 0 0);
  img{
    transition: transform 1.5s ease-in-out;
    cursor: pointer;
    &:hover{
      transform: scale(1.4);
    }
  }
}
.img-zoom.custom-zoom{

  -webkit-clip-path: polygon(76% 0%, 100% 0, 100% 100%, 20% 100%, 0 81%, 0 0);
  clip-path: polygon(76% 0%, 100% 0, 100% 100%, 20% 100%, 0 81%, 0 0);
}
.process-details .img-zoom{
  -webkit-clip-path: polygon(76% 0%, 100% 0, 100% 100%, 14% 100%, 0 81%, 0 0);
  clip-path: polygon(76% 0%, 100% 0, 100% 100%, 14% 100%, 0 81%, 0 0);
}
.image-block{
  cursor: pointer;

}
.image-block:hover .img-zoom img,
.dyres-img-block:hover .img-zoom img
{
  transform: scale(1.2);
}
.view-link{
  font-family:'shentox regular';
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 1.35px;
  text-align: left;
  color: $dark-lavender !important;
  &:hover{
    color: $dark-lavender;

  }
}
.numbers{
    font-family: "shentox regular";
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.75px;
    text-align: left;
    color: #690ad2;
}

/******************* Start work page  *******************/
.work-details{
    margin-top: 140px;
    margin-bottom: 80px;
     span{
         color:$dark-lavender;
         font-family: "shentox regular";
         text-transform: uppercase;
         font-size: 20px;
         font-weight: bold;
         letter-spacing: 6px;
     }
     h1{
        font-size: 80px;
        font-family: "CircularStdBlack";
        text-transform: capitalize;
        color: $dark-grey-blue;


     }
     p{
        font-family: "CircularStdMeduim";
        font-size: 24px;
        color: $dark-lavender;
        margin: auto;
        &.small-media{
          display: none;
        }
     }
}
/******************* End work page  *******************/

.bottom{
  position: absolute;
  bottom: 0;
}
.home-page{
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hint{
      font-family: 'CircularStdBlack';
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: center;
      color: $dark-lavender;
    }
    .title{
      font-size: 60px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.1;
      letter-spacing: -1.88px;
      text-align: center;
      color: $dark-grey-blue;
      margin-bottom: 70px;
      font-family: 'CircularStdBlack';
    }
    .defult-btn{
      font-size: 12px;
      width: 170px;
      line-height: 17px;
      margin: auto;
      justify-content: center;
    }
    .app-users{
      width: 893px;
      height: 893px;
      object-fit: contain;
      position: relative;
      font-family: 'CircularStdBlack';
    .app-user-block-img{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      .plante-block{
        position: absolute;
        top: 0;
        bottom: 0;
        zoom: 115%;
        .img-plante{
          -webkit-animation: spin 40s linear infinite; /* Safari */
          animation: spin 40opinion s linear infinite;
        }
        .img-blur{
          position: absolute;
          top: -28%;
          z-index: -2;
          left: -28%;
          right: 0;
          margin: 0;
        }
      }
      .scroll-to-down{
        font-family: "shentox regular";
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: 1.35px;
        font-size: 14px;
        font-weight: 600;
        color: $white;
      }
      .scroll-to-down:first-child{
        position: absolute;
        top: 80px;
      }
      .scrolldown{
        position: absolute;
        top: 104px;
      }
      .scroll-featured-projects{
        position: absolute;
        bottom: 160px;
        &::before{
          content: '';
          position: absolute;
          background: url(assets/images/icon-arrow.PNG);
          width: 32px;
          height: 32px;
          top: 30px;
          left: 0;
          right: 0;
          margin: auto;
          display: none;
        }
      }
      .text{
        width: 530px;
        height: 45px;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        font-family: CircularStdBook;
      }
      .sub-title{
        font-size: 75px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 70px;
        letter-spacing: 1.4px;
        text-align: center;
        color: #ffffff;
        margin: 40px 0;
      }
    }
    .app-user-block-text{
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .defult-btn{
        background: $white;
        color: $violet-blue !important;
        &::before{
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 13px 0 0 18px;
          border-color: transparent transparent transparent #6318cd;
          position: absolute;
          left: 0px;
          bottom: 0;
        }
      }
    }

    }

    .featured-projects {
      margin: 215px 0 100px;
      .title{
        margin-bottom: 100px;
      }

    }
    .trusted-by{
      margin-bottom: 100px;
      width: 100%;

      .title{
        margin: 0 0 12px;
      }
      .hint{
        margin-bottom: 70px;
      }
      .trusted-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 700px;
        margin: auto;
        li{
          width: calc(100% / 6);
          display: flex;
          justify-content: center;
          a{
            img{
              width: auto;
            }
          }
        }

      }
    }

}

.project-info{
  zoom: 115%;
  .project-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;

    &:nth-child(3){
      margin-bottom: 140px;
    }
    .text-block{
      min-width: 133px;
      margin-right: 100px;
      .years{
        font-family:'shentox regular';
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: -0.75px;
        text-align: left;
        color: $violet-blue;

      }
      .block-title{
        font-family: 'CircularStdBlack';
        font-size: 35px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.07;
        letter-spacing: -0.88px;
        text-align: left;
        color: $dark-grey-blue;
        width: 150px;
      }
      .block-hint{
        font-family: 'CircularStdBlack';
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.46;
        letter-spacing: normal;
        text-align: left;
        color:$dark-lavender;
        width: 95px;
        display: flex;
        margin: 30px 0 30px auto;
      }
    }

    .image-block{
      position: relative;
      .BG {
        width: 405px;
        height: 237.5px;
        object-fit: contain;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
      }
      .DYRES-Main {
        width: 237.5px;
        height: 302.5px;
        object-fit: contain;
        position: absolute;
        margin: auto;
        left: 32px;
        right: 0px;
        bottom: 0;
      }
      .SISTERS-Main,
      .HKA-Group-Main {
        width: 445.5px;
        height: 269px;
        object-fit: contain;
        position: absolute;
        left: 0;
        bottom: -52px;
      }
      .HKA-Group-Main{
        bottom: 15px !important;
      }
      .ipraynow-main {
        width: 151.5px;
        height: 311px;
        object-fit: contain;
        position: absolute;
        margin: auto;
        left: 100px;
        right: 0px;
        bottom: -27px;
      }
      .addicta-main{
        object-fit: contain;
        position: absolute;
        margin: auto;
        left: 32px;
        right: 0px;
        width: 257px;
        height: 327px;
        bottom: -65px !important;
      }
    }


  }
}

.services{
  margin-bottom: 150px;
  .title{
    margin: 0 0 12px;
  }
  .hint{
    margin-bottom: 70px;
  }
  .butn-block{
    margin-top: 100px;
  }
  .services-info{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 100%;
    .services-block{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 70px;
      width: calc(100% / 3);
      justify-content: center;
      &:nth-child(2),
      &:nth-child(5){
        position: relative;
        top: 42px;
      }
      &:nth-child(3),
      &:nth-child(6){
        position: relative;
        top: 116px;
      }
      .text-block{
        min-width: 133px;
        .years{
          font-family:'shentox regular';
          font-size: 30px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.4;
          letter-spacing: -0.75px;
          text-align: left;
          color: $violet-blue;
        }
        .block-title{
          font-family: 'CircularStdBlack';
          font-size: 35px;
          font-weight: 900;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.07;
          letter-spacing: -0.88px;
          text-align: left;
          color: $dark-grey-blue;
          width: 150px;
        }
        .block-hint{
          font-family: 'CircularStdBlack';
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.46;
          letter-spacing: normal;
          text-align: left;
          color:$dark-lavender;
          width: 95px;
          display: flex;
          margin: 30px 0 30px auto;
        }
      }
    }
  }

}
.nav-tabs {
  border-bottom: 1px solid #6e648c;
  width: 525px;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 1px;
    background: #6e648c;
    height: 15px;
    left: -6px;
    bottom: -2px;
    transform: rotate(-45deg);
  }
  &::after{
    content: "";
    position: absolute;
    width: 1px;
    background: #6e648c;
    height: 15px;
    right: -6px;
    bottom: -2px;
    transform: rotate(45deg);
  }
}
.nav-tabs .nav-item{
  margin: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border: none !important;
}
.nav-item {
  &:last-child{
    .nav-link{
      margin-right: 0 !important;
    }
  }
}
.nav-tabs .nav-link{
    font-family: 'shentox regular';
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 1.2px;
    color: $heather !important;
    padding: 15px 0;
    margin-right: 50px;
    &.active{
      color: $violet-blue !important;
      border-bottom: 2px solid $violet-blue !important;
    }
}
.tab-content{
margin-top: 150px;
}


.overlay {
  position: absolute;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
}



/******************* Start project-details page  *******************/
// .project-details-page{
//   zoom: 165%;
// }
// .project-details-page .dyres-img-block{
//   zoom: 74%;
// }
.project-details-page{

  margin-top: 100px;
    .displayBlock{
      display: none;
    }
    .brand-block{
      padding-left: 60px;
    }
    .scop-block{
      margin-left: 25px;
    }
  .dyres-img-block{
    background: url('assets/images/project-details-images/dyres-bg.png') no-repeat;
    background-size: 100% 84%;
    text-align: center;
    height: 430px;
    position: relative;
    img{
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      top:-31px;

    }
  }
  .project-details{
    .dyres-stems-block{
      position: relative;
    }
    .title{
      font-size: 20px;
      font-family: "CircularStdBold";
      color: #6e648c;
    }
    p{
      font-size: 12px;
      color: #6e648c;
      font-family: "CircularStdBook";
    }
    .view-link-block{
      font-family: "shentox regular";
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: 1.35px;
      text-align: left;
      color: #6e648c !important;
      .inline-block{
        display: inline-block;
      }
    }
    .view-link-block:hover{
      text-decoration: none;
    }
    .link-style-block {
      position: absolute;
      display: inline-block;
      padding-bottom: 3px;
      top: -27px;
  }
  .link-style-block::before {
    content: "";
    right: 144px ;
    top: -1px ;
    height: 2.2px;
    position: absolute;
    width: 33px;
    background-image: linear-gradient(to right, #680dd1 15%, #c93ccc 112%);
  }
  .link-style-block::after {
    content: "";
    right: 139px;
    bottom: 9.16px ;
    transform: rotate(-45deg);
    width: 2.2px;
    height: 12px;
    background-image: linear-gradient(to right, #680dd1 15%, #c93ccc 112%);
    position: absolute;
}


.laicon{
  position: absolute;
  top: -4.4px ;
  left: -64px;
  transform: rotate(180deg) !important;
  color: #c93ccc;
  font-size: 10px;
}
    p{
    width: 193px;
    font-size: 12px;
    }
    .block-title{
      font-family: "CircularStdBlack";
      font-size: 50px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: -0.88px;
      text-align: left;
      color: #372d5f;
      width: 150px;
    }
  }
  .projects-process{
    .text-block{
    font-family: "CircularStdBlack";
    font-size: 35px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: -0.88px;
    text-align: left;
    color: #372d5f;
    }
    p{
      font-family: "CircularStdBook";
      color: $dark-lavender;
      font-family: "CircularStdBook";
      font-size: 13px;
      line-height: 1.46;
      margin-left: 50px;
      width: 197px;
  }
    .process-details{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 100px;
      zoom:125%;
      img{
        width: 300px;
        height: 212.5px;
      }
    }
  }
  .concept-details{
    background: url('assets/images/project-details-images/BG@3x.png') no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height: 430px;
    position: relative;
    padding: 30px 0 0 0;
    margin-bottom: 100px;
    .number{
      font-family: "shentox regular";
      font-size: 30px;
      color:$white;
      line-height: 20px;
    }
    .title{
      font-family: "CircularStdBlack";
      font-size: 35px;
      color:$white;
    }
    img{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 411px;
    height: 291px;
    }
    p{
      font-family: "CircularStdBook";
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      z-index: 1;
      top: 140px;
      width: 300px;
      font-size: 12px;
      color:$white;
    }
  }
  .branding-identity ,.printed-stationery {
    span{
      font-size: 12px;
      font-family: "CircularStdBook";
      text-transform: capitalize;
      margin-bottom: 15px;
      color:$dark-lavender;
    }
    .number{
      font-family: "shentox regular";
      color: $violet-blue;
      font-size: 30px;

    }
    .title{
      font-size: 35px;
      color:$dark-grey-blue;
      font-family: "CircularStdBlack";
      font-weight: 900;
    }
    p{
      width: 300px;
      font-size: 12px;
      margin: auto;
      font-family: "CircularStdBook";
      color: $dark-lavender;
    }
    .branding-identity-imgs{
      display: flex;
      justify-content: space-between;
      div{
        &:nth-child(2){
          margin-top: 40px;
        }
        &:nth-child(3){
          margin-top: 80px;
        }
      }
      img{
        width: 195px;
        height: 212.5px;
      }

    }
  .footer{
    .footer-bottom{
      justify-content: center;
    }
    .main-links{
      display: none;
    }
    .opinion{
      .ask-opinion{
        width: 100%;
        height: auto;
        top: 25%;
        padding: 45px;
        -webkit-clip-path: polygon(76% 0%, 100% 0, 100% 100%, 14% 100%, 0 89%, 0 0);
        clip-path: polygon(76% 0%, 100% 0, 100% 100%, 14% 100%, 0 89%, 0 0);
        .hear-about{
          flex-direction: column;
          margin-top: 55px;
        }
        .select-answer{
          margin-top: 25px;
          justify-content: center;
        }
      }
    }
  }

  }
.printed-stationery{
  margin-bottom: 100px;
  span,p{
    margin-bottom: 0;
  }
  .printed-stationery-img{
    background: url('assets/images/project-details-images/BG@2x.png') no-repeat;
    background-size: 100% 100%;
    height: 350px;
  }
}
.studio-magazine{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .text-block{
      font-family: "CircularStdBlack";
      width: 154px;
      font-size: 35px;
      color: $white;
      line-height: 1;
    }
  .addicta-studio{
    background: url('assets/images/project-details-images/additca.png') no-repeat;
    background-size: 100%;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    .text-block{
      margin-left: 30px;
      text-align: left;
    }
    a.view-link{
      position: absolute;
      top: 31px;
      left: 40px;
      color: #fff !important;
      text-transform: uppercase;
      .fa.fa-arrow-right{
        position: absolute;
        top: 14px;
        color: #fff;
        font-size: 10px;
        left: -14px;
        transform: rotate(180deg);
      }
      &::before{
        content: "";
        position: absolute;
        right: 2px;
        height: 2px;
        bottom: 0;
        background: #fff;
        width: 100%;
      }
      &::after{
        content: "";
        width: 2px;
        height: 13px;
        position: absolute;
        left: 64px;
        bottom: -0.3px;
        background: #fff;
        transform: rotate(38deg);
      }
    }

  }
  .sister-magazin{
    background: url('assets/images/project-details-images/sismagazin.png') no-repeat;
    background-size: 100%;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    .text-block{
      margin-right: 30px;
      text-align: right;
    }
    a.view-link{
      position: absolute;
      top: 31px;
      right: 40px;
      color: #fff !important;
      text-transform: uppercase;
      .fa.fa-arrow-right{
        position: absolute;
      top: 14px;
      color: #fff;
      font-size: 10px;
      }
      &::before{
        content: "";
        position: absolute;
        right: 2px;
        height: 2px;
        bottom: 0;
        background: #fff;
        width: 100%;
      }
      &::after{
        content: "";
      width: 2px;
      height: 13px;
      position: absolute;
      left: -6px;
      bottom: -1.3px;
      transform: rotate(-45deg);
      background: #fff;
      }

      }
  }
}


}
/******************* End project-details page  *******************/
/******************* start services-page page  *******************/
.services-page {
  .services-details{
    zoom: 110%;
    > div{
      margin-right: 10%;
      &:last-child{
        margin-right: 0 !important;
      }
    }
}
}
.services-page ,.about-page ,.contact-page{
  .tilte-block{
    margin-top: 140px;
    margin-bottom: 80px;
    span{
      color:$dark-lavender;
      font-family: "shentox regular";
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 6px;
    }
    h1{
      font-size: 75px;
      font-family: "CircularStdBlack";
      text-transform: capitalize;
      color:$dark-grey-blue;
    }
  }
  .services-details{
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
    div{
      &:nth-child(2){
        margin-top: 40px;
      }

    }
    .text-block{
      font-family: "CircularStdBlack";
      font-size: 35px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: -0.88px;
      text-align: left;
      color: #372d5f;
      min-width: auto;
      width: 133px;
      margin-bottom: 10px;
      }
      p{
        color: $dark-lavender;
        font-family: "CircularStdBook";
        font-size: 12px;
        line-height: 1.46;
        margin-left: 50px;
        width: 197px;
    }
  }
  .services-process-block{
    .services-tilte-block{
      margin-bottom: 85px;
      span{
        font-family: "CircularStdBlack";
        color: $dark-grey-blue;
        font-size: 50px;
      }
      p{
        font-size: 20px;
        color: $dark-lavender;
        font-family: "CircularStdBold";
        width: 433px;
        margin: auto;

      }
    }
    .services-process{
      position: relative;
      &::before{
      content:"";
      background: $heather;
      width: 2.5px;
      height: 86%;
      display: block;
      position: absolute;
      left: 9px;
      opacity: 0.5;
      }
      .services-group{
        display: flex;
        justify-content: space-between;
         margin-left: 50px;
         .deveolpLand{
          width: 160px;
         }
         &:last-child .process-service-details{
          margin-bottom: 0;
         }
         .process-service-details{
           display: flex;
           margin-bottom: 100px;
          span{
            font-size: 35px;
            font-family: "CircularStdBlack";
            letter-spacing: -0.88px;
            color: $dark-grey-blue ;
            line-height: 1.07;
          }
          p{
            font-family: "CircularStdBook";
            font-size: 12px;
            color: $dark-lavender;
            margin-top: 4px;
          }
         }
         .process-number{
          position: absolute;
          text-align: center;
          left: -18px;
          background-color: $white;
          padding: 0px 10px;
          font-family: "shentox regular";
          font-size: 30px;
          line-height: 1.4;
          letter-spacing: -0.75px;
          color: $violet-blue;
         }
      }

    }
  }

}
/******************* End services-page page  *******************/
/******************* start about-page page  *******************/
.about-page{

  .inspired-by-block{
    margin-bottom: 90px;
    a{
      font-weight: bold;
    }
    .inspired-by{
      font-size: 20px;
      font-family: "CircularStdBold";
      color: $dark-lavender;
    }
    .inspirer-name{
      font-family: "CircularStdBlack";
      font-size: 50px;
      color: $dark-grey-blue;
      line-height: 1;
      margin-bottom: 10px;
    }
    p{
      font-family: "CircularStdBook";
      color: $dark-lavender;
      width: 309px;
      font-size: 12px;
      margin-left: 69px;
      a {
        display: inline;
      }
    }
    .owner-info{
      margin-bottom: 15px;
    }
  }

  .tilte-block{
    span{
      &:last-child{
      font-family: "CircularStdBold";
      color:$dark-lavender;
      font-size: 18px;
      letter-spacing: normal;
      }
    }
  }

  .founders-tilte-block{
    margin-bottom: 45px;
    span{
      font-family: "CircularStdBlack";
      color: $dark-grey-blue;
      font-size: 50px;
    }
    p{
      font-size: 20px;
      color: $dark-lavender;
      font-family: "CircularStdBold";
      width: 433px;
      margin: auto;

    }

  }
  .founder{
    margin-bottom: 80px;
    img{
      margin-bottom: 12px;
    }
    .founder-title,.founder-name{
      margin-left: 35px;
    }
    .founder-title{
      font-family: "shentox regular";
      color: $violet-blue;
      letter-spacing: 1.2px;
      font-size: 12px;
      font-weight: 600;
    }
    .founder-name{
      font-family: "CircularStdBlack";
      color: $dark-grey-blue;
      font-size: 25px;
    }
  }
}
/******************* end about-page page  *******************/
.founders{
  display: flex;
  justify-content: space-evenly;
  .founder:nth-child(2){
    margin-top: 50px;

  }
}
/******************* start contact-page page  *******************/
.contact-page{
  position: relative;
  .plante-block{
    position: absolute;
    right: -115px;
    zoom: 135%;
    .img-blur{
      position: absolute;
      top: -28%;
      z-index: -2;
      left: -28%;
      right: 0;
      margin: 0;
      width: 341.5px;
      transform: rotate(180deg);
    }
    .img-plante{
      width: 225.6px;
      transform: rotate(180deg);
    }
  }
  .address-block{
    .address{
      font-family: "CircularStdBold";
      color: $dark-grey-blue;
      font-size: 38px;
      width: 66%;
      line-height: 40px;
      margin-bottom: 10px;
      span {
        white-space: nowrap;
      }
    }
    label{
      color: $heather;
      text-transform: uppercase;
      font-family: "shentox regular";
      font-size: 12px;
      line-height: 1.4;
      margin-bottom: 0;
      font-weight: bold;
      letter-spacing: 1.2px;

    }
    .info-block{
      margin-left: 55px;
      .info{
        color: $dark-lavender;
        font-weight: bold;
        font-size: 20px;
        font-family: "CircularStdBold";

      }
    }
    margin-bottom: 90px;
  }
  .contact-us-section{
    .title-block{
      .givUs{
        font-family: "CircularStdBlack";
        color: $dark-grey-blue;
        font-size: 50px;
      }
      .email-info{
        color: $dark-lavender;
        font-family: "CircularStdBold";
        font-size: 20px;
      }
    }

  }
  .contact-form{
    margin: 50px 0;
    width: 92%;
    margin-left: auto;
    input{
      border: 1.5px solid #6e64897a;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      margin-bottom: 50px;
      opacity: 0.5;
      border-radius: 0;

      &:focus{
        outline: none !important;
      }
    }
    .form-group{
      position: relative;
      padding-right: 60px;
      &::before{
        content: "";
        background: #6e648c;
        position: absolute;
        width: 1.5px;
        height: 14px;
        bottom: -2px;
        transform: rotate(128deg);
        left: -6px;
        opacity: 0.5;
      }
    }
    button{
      color: #ffffff !important;
      border-color: #690ad2;
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      background-image: linear-gradient(to right, #680dd1 10%, #c93ccc 100%);
      padding: 10px 55px;
      border-radius: 0;
      line-height: 0;
      border: 0;
      margin-right: 15px;
    }
    label{
      color: $heather;
      text-transform: uppercase;
      font-family: "shentox regular";
      font-size: 12px;
      line-height: 1.4;
      margin-bottom: 0;
      font-weight: bold;
      letter-spacing: 1.2px;
    }
    .flexEnd{
      justify-content: flex-end;
      padding-right: 60px;
    }
    .fa-angle-right{
      font-weight: bold;
      font-size: 29px;
      position: absolute;
      right: 61px;
      top: 7px;
      transform: rotate(45deg);
      color: #690ad2;

    }
  }



}
/******************* end contact-page page  *******************/
//   .container, .container-lg, .container-md, .container-sm, .container-xl {
//     max-width: 700px;
//     padding: 0;
// }

/******************* start Tabs Router  *******************/
.custom-tabs{
  .tabs-route{
    ul{
      border-bottom: 1px solid #6e648c;
      width: 525px;
      margin: auto;
      position: relative;
      display: flex;
      justify-content: center;
      &.list-small-media{
        display: none;
      }
      &::before{
        content: "";
        position: absolute;
        width: 1px;
        background: #6e648c;
        height: 15px;
        left: -6px;
        bottom: -2px;
        transform: rotate(-45deg);
      }
      &::after{
        content: "";
        position: absolute;
        width: 1px;
        background: #6e648c;
        height: 15px;
        right: -6px;
        bottom: -2px;
        transform: rotate(45deg);
      }
      li{
        height: auto;
        display: inline-block;
        &:last-child{
          a{
            margin-right: 0;

          }
        }
        a{
          font-family: "shentox regular";
          font-size: 14px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.42;
          letter-spacing: 1.2px;
          color: #9b97a5 !important;
          padding: 15px 0;
          margin-right: 50px;
          text-decoration: none !important;
          text-transform: uppercase;
          &.active{
            color: #690ad2 !important;
            border-bottom: 2px solid #690ad2 !important;
          }

        }
      }
    }
  }
  .tasb-route-content{
    margin-top: 150px;
    margin: 150px auto 0;
    .project-info{
      .text-block{
        margin-right: 0;
      }
    }
  }
  .custom-dropdown{
    display: none;
  }
}

/* most used style*/
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 0 0 #ddd;
}
input[type="text"] ,
input[type=email]
{
  font-family: "CircularStdBook" !important;
  font-size: 15px;
  color: $dark-lavender !important;
  opacity: 1 !important;
}
.form-group{
  position: relative;
}
.form-control-placeholder{
 position: absolute !important;
 top: 0;
 padding: 7px 0 0 13px;
 transition: all 200ms;
}
.form-control:focus + .form-control-placeholder,
input[type="text"]:focus + .form-control-placeholder,
input[type=email]:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder{
 font-size: 75%;
 -webkit-transform: translate3d(0, -100%, 0) ;
 transform: translate3d(0, -100%, 0) ;
}

.container, .container-lg, .container-md, .container-sm, .container-xl{
  max-width: 70% !important;
}
/******************* End Tabs Router  *******************/
@media (max-width: 1480px){
  body{
    // zoom: 125%;
  }
  .project-details-page .projects-process .process-details{
    zoom: 100%;
  }
  .project-info{
    zoom: 100% !important;
  }
  .project-details-page {
    zoom: 128%;
}
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 70% !important;
}
.services-page {
  .services-details{
    // justify-content: space-between;
    zoom: 125%;
}
}
}

@media (max-width: 1200px)
{
  body{
    zoom: 100%;
  }
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    // max-width: 960px !important;
    // // padding: 0 15px !important;
  }
  .project-info{
    zoom: 85% !important;
  }
  .services-page {
    .services-details{
      zoom: 100%;
      > div{
        margin-right: 5%;
        &:last-child{
          margin-right: 0;
        }
      }
  }
  }
}
@media (max-width:960px){

  body,
  .home-page .app-users .app-user-block-img .plante-block,
  .project-info{
    zoom: 100% !important;
  }
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 700px !important;
    padding: 0;
}
.pattern-one{
  background-position: 232px;
}
.tasb-route-content{
  max-width: 100%;
  margin: 150px auto 0;
}
.home-page .featured-projects {
  margin: 100px 0 150px;

}

}

@media (max-width: 756px){
  .dyres-img-block{
    height: 390px;
  }
  .project-details-page .dyres-img-block img{
    width: 231px;
  }
  .concept-details{

  }
  .footer{
    overflow: hidden;
  }
  .wrapper {
    margin-top: 80px;
  }
  header.header.container{
    max-width: inherit !important; 
  }
  .container,.container-lg,.container-md,.container-sm,.container-xl{
    padding: 0 15px !important;
  }
  .header .main-links li a{
    font-size: 14px;
  }
  footer .container{
    padding: 0 !important;
  }
  .header{
    margin: auto;
    padding: 20px 15px !important;
    .main-links{
      // width: 100%;
      justify-content: space-between;
      margin-bottom: 15px;
      li:last-child{
        margin-right: 0;
      }
    }
  }
  .home-page{
    .app-users{
      zoom: 85%;
      .app-user-block-img{
        .text{
          height: auto;
          width: 266px;
          padding: 0;
          font-size: 18px;
        }
        .sub-title{
          width: 200px;
          line-height: 1.2;
          font-size: 55px;
          margin-top: 70px;
        }
      }
    }
    .trusted-by{
      margin-bottom: 30px;
      .trusted-list
      {
        li{
          width: calc(100% / 3);
          margin-bottom: 35px;
        }
      }
    }
  }
  .project-info{
    .project-block{
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      &:nth-child(3){
        margin-bottom: 50px;
      }
      .image-block{
        margin: 20px 0;
        max-height: 220px;
      }
      .text-block{
        margin-top: 0;
        min-width: auto;
        width: 133px;
        margin-right: 0;
        zoom: 115%;
      }
    }
  }
  .services {
    .butn-block{
      margin-top: 0;
    }
    .services-info {
      .services-block{
        width: 100%;
        top: auto !important;
        margin-bottom: 35px;

      }
    }
  }
  .footer{
    .logo{
      margin-top: 25px;
    }
    .main-links.social-links{
      display: block !important;
    }
    .footer-bottom{
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
      color: #9b97a5;
      font-size: 12px;
      margin-top: 100px;
        .copy-right{
          display: block;
          margin: 5px 0 10px;
        }
    }
    .main-links{
      display: none;
    }
    .opinion{
      img{
        zoom:80%;
      }
      .ask-opinion{
        width: 100%;
        height: auto;
        margin-top: 140px;
        padding: 50px 45px;
        -webkit-clip-path: polygon(76% 0%, 100% 0, 100% 100%, 10% 100%, 0 93%, 0 0);
        clip-path: polygon(76% 0%, 100% 0, 100% 100%, 10% 100%, 0 93%, 0 0);

        .hear-about{
          flex-direction: column;
          margin-top: 80px;
          .question{
            font-size: 17px;
             line-height: 32px;
          }
        }
        h1{
          font-size: 24px;
        }
        .select-answer{
          margin-top: 25px;
          justify-content: center;
        }
      }
    }
  }
  .pattern-one{
    background-position: -300px;
  }
  .projects-process{
    .process-details{
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      .text-block{
        margin-top: 30px;
        min-width: auto;
        // width: 133px;
      }
    }
  }
  .project-info .project-block .image-block .DYRES-Main{
    height: 225.5px;
    bottom: -15px;
  }
  .project-info .project-block .image-block .BG{
    height: 186.5px;
  }
  .project-info .project-block .image-block .ipraynow-main{
    bottom: -27px;
    height: 240px;
  }
  .project-info .project-block .image-block .SISTERS-Main{
    height: 218px;
    bottom: -60px;
  }
   .project-info .project-block .image-block .HKA-Group-Main{
    bottom: -28px !important;
  }
  .project-info .project-block .image-block .addicta-main{
    height: 249px;
    bottom: -42px !important;
  }
.work-details{
  margin-top: 30px;
  margin-bottom: 50px;
  h1{
    font-size: 45px;
    width: 233px;
    margin: 5px auto 10px;
  }
  p{
    &.small-media{
      display: block;
      font-size: 20px;
    }
    &.large-media{
      display: none;
    }
  }
}

.custom-tabs{
  .tabs-route{
    ul{
      justify-content: flex-start;
      flex-wrap: wrap;
      border: none;
      position: absolute;
      background: #fff;
      z-index: 9;
      width: 100% !important;
      box-shadow: 0 0 40px 0 rgba(82,63,105,.1);
      &.list-small-media{
        display: block;
      }
      &.list-large-media{
        display: none;
      }
      &::before,&::after{
        display: none;
      }
      li{
        width: 100%;
        a{
          margin-right: 0;
          text-align: left;
          border-bottom: 2px solid #ddd !important;
          padding: 15px 0 15px 15px;
        }
      }
    }
  }
  .custom-dropdown{
    display: block;
    border-bottom: 1.5px solid rgba(110, 100, 140, 0.5);
    position: relative;
    margin-left: 10px;
    &::before{
      content: "";
      background: #6e648c;
      position: absolute;
      width: 2px;
      height: 14px;
      bottom: -3px;
      transform: rotate(138deg);
      left: -6px;
      opacity: 0.5;
    }
    a{
      span{
        font-family: "CircularStdMeduim";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        color: $dark-lavender;
        text-align: left;
        padding-left: 5px;
        padding-bottom: 5px;
      }
      position: relative;
      &::before{
        content: "";
        position: absolute;
        width: 2px;
        height: 8px;
        background-image: linear-gradient(to top, #680dd1 100%, #c93ccc -20%);
        right: 0;
        top: 15px;
      }
      &::after{
        content: "";
        position: absolute;
        width: 2px;
        height: 8px;
        background-image: linear-gradient(to top, #680dd1 100%, #c93ccc -20%);
        top: 18px;
        transform: rotate(90deg);
        right: 4px;
      }
    }
  }
  .tasb-route-content{
    margin-top: 35px;
  }
}

.project-details-page .project-details .link-style-block::after{
  right: 73px !important;
  bottom: 21.16px !important;
}
.project-details-page .project-details .link-style-block::before{
  right: 78px !important;
  top: -12px !important;
}
.project-details-page .project-details .laicon{
  top: -16.4px !important;
  left: 2px !important;
}
::-webkit-scrollbar {
 display: none;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
}
.project-details-page .project-details .block-title{
  font-size: 65px;
}
.services-page .tilte-block,
.about-page .tilte-block, .contact-page .tilte-block{
 margin-top:32px;
}
.services-page .tilte-block h1,
.about-page .tilte-block h1,
.contact-page .tilte-block h1{
 font-size: 67px;
}
.numbers{
 font-size: 40px;
}
.services-page .services-details .text-block, .about-page .services-details .text-block, .contact-page .services-details .text-block{
 font-size: 45px;
}
.services-page .services-details p, .about-page .services-details p, .contact-page .services-details p{
 font-size: 13px;
 margin-left: 24px;
}
.services-page .services-process-block .services-tilte-block p, .about-page .services-process-block .services-tilte-block p, .contact-page .services-process-block .services-tilte-block p{
 font-size: 20px;
 width: auto;
}
.services-page .services-process-block .services-process .services-group .process-service-details p, .about-page .services-process-block .services-process .services-group .process-service-details p, .contact-page .services-process-block .services-process .services-group .process-service-details p{
 font-size: 14px;
}
.services-page .services-process-block .services-process .services-group .process-service-details span, .about-page .services-process-block .services-process .services-group .process-service-details span, .contact-page .services-process-block .services-process .services-group .process-service-details span{
 margin-bottom: 20px;
}
.services-page  .services-process{
  margin-bottom: 100px;
}
.about-page .tilte-block h1{
 font-size: 57px;
}
.about-page .inspired-by-block .row{
    flex-direction: column-reverse;
}
.about-page .tilte-block span:last-child{
  display: none;
}
.about-page .inspired-by-block .owner-info{
 margin-bottom: 15px;
}
.about-page .inspired-by-block .inspired-by{
 margin-top: 50px;
}
.about-page .inspired-by-block .inspirer-name{
 margin-bottom: 47px;
}
.about-page .founders-tilte-block{
 margin-bottom: 25px;
}
.about-page .inspired-by-block p{
 margin: auto;
 text-align: left;
 font-size: 14px;
}
.inspired-by-block .col-md-7{
  text-align: center;
}
.inspired-by-block .col-md-5{
  padding: 0;
}
.about-page .container{
  padding: 0 !important;
}
.about-page .founders-tilte-block p{
  width: auto;
  font-size: 17px;
}
.about-page .founders{
  display: block;
}
.about-page .founder img{
  width: 100%;
}
.about-page .founder .founder-title{
 font-size: 21px;
}
.about-page .founder .founder-name{
 font-size: 38px;
 line-height: 40px;
}
.about-page .founder {
 margin-bottom: 80px;
}
.about-page  .owner-img{
  width: 100%;
}
.contact-page .plante-block{
  display: none;
}
.contact-page .contact-form .form-group::before{
 content: "";
 background: #6e648c;
 position: absolute;
 width: 2px;
 height: 14px;
 bottom: -1px;
 transform: rotate(138deg);
 left: -5px;
 opacity: 0.5;
}
.contact-page .contact-form input{
 border-width: 2px;
 border-color: #6e64897a;
}
.contact-page .contact-form .flexEnd{
 justify-content: center;
}
.contact-us-section .title-block{
 text-align: center;
 margin-top: 50px;
}
.contact-page .address-block .address{
 font-size: 28px;
 font-family: "CircularStdBlack";
}
.contact-page .contact-form{
  margin-bottom: 100px;
}
.contact-page .contact-form .col-md-6{
 width: 95%;
 margin: auto;
}
//  .project-details-page .studio-magazine .sister-magazin{
//   background: url('assets/images/project-details-images/we.png') no-repeat;

//  }
.project-details-page .printed-stationery .printed-stationery-img{
 height: 200px;
}
.branding-identity-imgs div{
 width: 33.33%;
 margin-right: 10px;

}
.branding-identity-imgs div:last-child{
 margin-right: 0;
}
.branding-identity.container{
  padding: 0;
}
.project-details-page .branding-identity .branding-identity-imgs img, .project-details-page .printed-stationery .branding-identity-imgs img{
 zoom: 70%;
}
.project-details-page .studio-magazine .addicta-studio{
 margin-bottom: 25px;
}
.project-details-page .branding-identity p, .project-details-page .printed-stationery p{
 font-size: 15px;
}
.project-details-page .branding-identity .title, .project-details-page .printed-stationery .title{
 font-size: 44px;
 line-height: 42px;
 margin-bottom: 13px;
}
.project-details-page .branding-identity .number, .project-details-page .printed-stationery .number{
 font-size: 40px;
}
.project-details-page .branding-identity .branding-identity-imgs, .project-details-page .printed-stationery .branding-identity-imgs{
 margin-bottom: 50px;
}
.project-details-page .concept-details{
 clip-path: polygon(76% 0%, 100% 0, 100% 100%, 12% 100%, 0 90%, 0 0);
}
.project-details-page .concept-details img{
  bottom: 0;
}
.project-details-page .projects-process .process-details:nth-child(2){
 flex-direction: column;

}
.project-details-page .projects-process .process-details{
 margin-bottom: 50px;
}
//  .project-details-page .projects-process .process-details div:first-child{
//   margin-right: 55px;
//  }
.projects-process .process-details{
 flex-direction: column-reverse;
}
//  .project-details-page .projects-process .process-details:nth-child(2) div:first-child{
//    margin-right: 0;
//  }
.project-details-page .projects-process .text-block{
  margin: 0;
}
.project-details-page .concept-details p{
 font-size: 17px;
 top: 116px;
}
.branding-identity-imgs span{
  display: none;
}
.project-details-page .dyres-img-block img{
 position: absolute;
 right: 0;
 left: 50px;
 margin: auto;
 top: -24px;
 width: 280px;
  }
.project-details-page .dyres-img-block{
 background-size: 100% 71%;
 text-align: center;
 height: 430px;
 position: relative;
}
.project-details.projSec .col-md-6,
.project-details.projSec .col-md-2
{
  display: none;
}
.project-details.displayBlock{
 margin-top: -97px;
 margin-bottom: 40px;
 margin-left: 13px;
 display: block;
}
}

@media (max-width: 575.98px) {
  .dyres-img-block{
    height: 390px;
  }
  .project-details-page .dyres-img-block img{
    width: 231px;
  }
  .wrapper {
    margin-top: 111px;
  }
  .header-fixed .header{
    // padding: 0 15px 10px 15px !important;
  }
  .main-links{
    width: 100%;
  }

  .services-page .tilte-block,
   .about-page .tilte-block, .contact-page .tilte-block{
    margin-top:32px;
  }
  .services-page .tilte-block h1,
   .about-page .tilte-block h1,
   .contact-page .tilte-block h1{
    font-size: 67px;
   }
   .numbers{
    font-size: 40px;
   }
   .services-page .services-details .text-block, .about-page .services-details .text-block, .contact-page .services-details .text-block{
    font-size: 45px;
   }
   .services-page .services-details p, .about-page .services-details p, .contact-page .services-details p{
    font-size: 13px;
    margin-left: 44px;
   }
   .services-page .services-process-block .services-tilte-block p, .about-page .services-process-block .services-tilte-block p, .contact-page .services-process-block .services-tilte-block p{
    font-size: 20px;
    width: auto;
   }
   .services-page .services-process-block .services-process .services-group .process-service-details p, .about-page .services-process-block .services-process .services-group .process-service-details p, .contact-page .services-process-block .services-process .services-group .process-service-details p{
    font-size: 14px;
   }
   .services-page .services-process-block .services-process .services-group .process-service-details span, .about-page .services-process-block .services-process .services-group .process-service-details span, .contact-page .services-process-block .services-process .services-group .process-service-details span{
    margin-bottom: 20px;
   }
   .services-page .services-process-block .services-process .services-group .process-service-details span, .about-page .services-process-block .services-process .services-group .process-service-details span, .contact-page .services-process-block .services-process .services-group .process-service-details span .no-wrap{
    margin-bottom: 5px;
   }
   .services-page  .services-process{
     margin-bottom: 100px;
   }
   .about-page .tilte-block h1{
    font-size: 57px;
   }
   .about-page .inspired-by-block .row{
       flex-direction: column-reverse;
   }
   .about-page .tilte-block span:last-child{
     display: none;
   }
   .about-page .inspired-by-block .owner-info{
    margin-bottom: 15px;
   }
   .about-page .inspired-by-block .inspired-by{
    margin-top: 50px;
   }
   .about-page .inspired-by-block .inspirer-name{
    margin-bottom: 47px;
   }
   .about-page .founders-tilte-block{
    margin-bottom: 25px;
   }
   .about-page .inspired-by-block p{
    margin: auto;
    text-align: left;
    font-size: 14px;
   }
   .inspired-by-block .col-md-7{
     text-align: center;
   }
   .inspired-by-block .col-md-5{
     padding: 0;
   }
   .about-page .container{
     padding: 0 !important;
   }
   .about-page .founders-tilte-block p{
     width: auto;
     font-size: 17px;
   }
   .about-page .founders{
     display: block;
   }
   .about-page .founder img{
     width: 100%;
   }
   .about-page .founder .founder-title{
    font-size: 21px;
   }
   .about-page .founder .founder-name{
    font-size: 38px;
    line-height: 40px;
   }
   .about-page .founder {
    margin-bottom: 80px;
   }
   .about-page  .owner-img{
     width: 100%;
   }
   .contact-page .plante-block{
     display: none;
   }
   .contact-page .contact-form .form-group::before{
    content: "";
    background: #6e648c;
    position: absolute;
    width: 2px;
    height: 14px;
    bottom: -1px;
    transform: rotate(138deg);
    left: -5px;
    opacity: 0.5;
   }
   .contact-page .contact-form input{
    border-width: 2px;
    border-color: #6e64897a;
   }
   .contact-page .contact-form .flexEnd{
    justify-content: center;
   }
   .contact-us-section .title-block{
    text-align: center;
    margin-top: 50px;
   }
   .contact-page .address-block .address{
    font-size: 24px;
    font-family: "CircularStdBlack";
   }
   .contact-page .contact-form{
     margin-bottom: 100px;
   }
   .contact-page .contact-form .form-group {
    padding-right: 20px !important;
   }
   .contact-page .contact-form .fa-angle-right {
     right: 25px;
   }
   .contact-page .contact-form .flexEnd {
     padding-right: 0px;
   }
   .contact-page .contact-form .col-md-6{
    width: 95%;
    margin: auto;
   }
  //  .project-details-page .studio-magazine .sister-magazin{
  //   background: url('assets/images/project-details-images/we.png') no-repeat;

  //  }
  .project-details-page .project-details p{
    display: flex;
    position: relative;
    width: 232px;
    span{
      margin-right: 8px;
      border: 1.5px solid #6e648cbf;
      border-width: 2px;
      border-left: 0;
      border-top: 0;
      border-bottom: 0;
      padding-right: 5px;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 14px;
    }
    span.motion{
      border: 0;
    }
  }
   .project-details-page .printed-stationery .printed-stationery-img{
    height: 200px;
   }
   .branding-identity-imgs div{
    width: 33.33%;
    margin-right: 10px;

   }
   .branding-identity-imgs div:last-child{
    margin-right: 0;
   }
   .branding-identity.container{
     padding: 0;
   }
   .project-details-page .branding-identity .branding-identity-imgs img, .project-details-page .printed-stationery .branding-identity-imgs img{
    zoom: 70%;
   }
   .project-details-page .studio-magazine .addicta-studio{
    margin-bottom: 25px;
   }
   .project-details-page .branding-identity p, .project-details-page .printed-stationery p{
    font-size: 15px;
   }
   .project-details-page .branding-identity .title, .project-details-page .printed-stationery .title{
    font-size: 44px;
    line-height: 42px;
    margin-bottom: 13px;
   }
   .project-details-page .branding-identity .number, .project-details-page .printed-stationery .number{
    font-size: 40px;
   }
   .project-details-page .branding-identity .branding-identity-imgs, .project-details-page .printed-stationery .branding-identity-imgs{
    margin-bottom: 50px;
   }
   .project-details-page .concept-details{
    clip-path: polygon(76% 0%, 100% 0, 100% 100%, 12% 100%, 0 90%, 0 0);
   }
   .project-details-page .concept-details img{
     bottom: 0;
   }
   .project-details-page .projects-process .process-details:nth-child(2){
    flex-direction: column;

   }
   .project-details-page .projects-process .process-details{
    margin-bottom: 50px;
   }
  //  .project-details-page .projects-process .process-details div:first-child{
  //   margin-right: 55px;
  //  }
   .projects-process .process-details{
    flex-direction: column-reverse;
   }
  //  .project-details-page .projects-process .process-details:nth-child(2) div:first-child{
  //    margin-right: 0;
  //  }
   .project-details-page .projects-process .text-block{
     margin: 0;
   }
   .project-details-page .concept-details p{
    font-size: 17px;
    top: 116px;
   }
   .branding-identity-imgs span{
     display: none;
   }
   .project-details-page .dyres-img-block img{
    position: absolute;
    right: 0;
    left: 50px;
    margin: auto;
    top: -24px;
    // width: 280px;
     }
   .project-details-page .dyres-img-block{
    background-size: 100% 71%;
    text-align: center;
    // height: 430px;
    position: relative;
   }
   .project-details.projSec .col-md-5,
   .project-details.projSec .col-md-3
   {
     display: none;
   }
   .project-details.displayBlock{
    margin-top: -97px;
    margin-bottom: 40px;
    margin-left: 13px;
   }
   .project-details-page .project-details .link-style-block{
    top: -27px;
    text-transform: uppercase;
    padding-left: 19px;
    line-height: 1.25;
    letter-spacing: 1.2px;
   }
   .project-details-page .project-details .link-style-block::before{
    right: 106px !important;
    top: -7px !important;
    height: 2.2px;
    position: absolute;
    width: 45px;
   }
   .view-link-block.link-style-block  .inline-block{
    opacity: 0;
   }
   .project-details-page .project-details .laicon{
    top: -11.5px !important;
    left: 2px !important;
   }
   .project-details-page .project-details .link-style-block::after{
    right: 101px !important;
    bottom: 13.16px !important;
   }
   .project-details-page .studio-magazine{
    margin-bottom: 120px;
   }
 }

/*test  commit*/
@media (min-width: 1600px){
  .inspired-by-block .col-md-7 div{
    margin-left: 97px;
  }

}

.typewriter {
display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
 animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid #fff;
  box-sizing: border-box;
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: #fff; 
  }
}

.view-link.link-style:hover .fa.fa-arrow-right{
  -webkit-animation:example 18s infinite; /* Safari 4+ */
  -moz-animation: example 18s infinite; /* Fx 5+ */
  -o-animation: example 18s infinite; /* Opera 12+ */
  animation:example 18s infinite
}
@-webkit-keyframes example {
  0%   { left: 0;  bottom: -4px; opacity: 0;}
  25%  { left: 79px;  bottom: -4px; opacity: 1;}
}

/* Standard syntax */
@keyframes example {
  0%   { left: 0;  bottom: -4px; opacity: 0;}
  25%  { left: 79px;  bottom: -4px; opacity: 1;}

}
.butn.butn-defult .fa.fa-arrow-right{
  opacity: 0;
}
.butn.butn-defult:hover .fa.fa-arrow-right{
  -webkit-animation:fadeInUp 3s infinite; /* Safari 4+ */
  -moz-animation: fadeInUp 3s infinite; /* Fx 5+ */
  -o-animation: fadeInUp 3s infinite; /* Opera 12+ */
  animation:fadeInUp 3s infinite
}

@keyframes fadeInUp {
  from { 
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#mouse-scroll  {
  // position: fixed;
  margin: auto;
  left: 50%;
  top: 80px;
  -webkit-transform: translateX(-50%);
  z-index: 9999;
}
#featcher-mouse-scroll{
  position: absolute;
  bottom: 160px;
  cursor: pointer;
}

.scroll-block{
  position: relative;
}
#mouse-scroll span,
#featcher-mouse-scroll span
{
  display: block;
  width: 12px;
  height: 12px;
  border-right: 5px solid #fff;
  border-bottom: 6px solid #fff;
  margin: 0 0 3px 5px;
  width: 0;
  height: 0;
  border-style: solid;
  /* border-width: 33px 21.5px 0 21.5px; */
  border-color: #fff transparent transparent transparent;
  position: absolute;
  left: -13px;
  border-width: 9px 8.4px 0 8.4px;
}
#mouse-scroll .down-arrow-1 ,
#featcher-mouse-scroll .down-arrow-1
{
  margin-top: 6px; 
}
#mouse-scroll .down-arrow-1, 
#featcher-mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2, 
#featcher-mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3,
#featcher-mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite; 
    -moz-animation: mouse-scroll 1s infinite;
}
#mouse-scroll .down-arrow-1,
#featcher-mouse-scroll .down-arrow-1
{
   -webkit-animation-delay: .1s; 
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
   top: 0;
}
#mouse-scroll .down-arrow-2,
#featcher-mouse-scroll .down-arrow-2
{
  -webkit-animation-delay: .2s; 
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  top: 10px;
}
#mouse-scroll .down-arrow-3 ,
#featcher-mouse-scroll .down-arrow-3
{
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
   top: 14px;
}
#mouse-scroll .mouse-in,
#featcher-mouse-scroll .mouse-in
{
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}
#mouse-scroll .mouse-in,
#featcher-mouse-scroll .mouse-in
{
 -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


.animated-delay-1 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
}

.animated-delay-2 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
}
.animated-delay-3 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2.5s;
}
.animated-delay-before-4 {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
}
.animated-delay-4 {
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
}

// router-outlet ~ *,
// router-outlet ~ footer.footer {
//   position: absolute;
//   height: 100%;
//   width: 100%;
// }
@media (max-width: 575.98px){
  .about-page{
    overflow: hidden;
  }
  .home-page{
    overflow: hidden;
  }
  .project-details-page .dyres-img-block {
    height: 390px;
}
.project-details-page .concept-details p{
  width: 279px;
}
.project-details-page .branding-identity p, .project-details-page .printed-stationery p{
  width: 262px;
}
.branding-identity-imgs div{
  width: auto;
}
.project-details-page .branding-identity .branding-identity-imgs img, .project-details-page .printed-stationery .branding-identity-imgs img{
  zoom: 60%;
}

}
@media (max-width: 756px){
  .about-page{
    overflow: hidden;
  }
  .home-page{
    overflow: hidden;
  }
  .project-details-page .dyres-img-block {
    height: 390px;
}
.project-details-page .concept-details p{
  width: 279px;
}
.project-details-page .branding-identity p, .project-details-page .printed-stationery p{
  width: 262px;
}
.branding-identity-imgs div{
  width: auto;
}
.project-details-page .branding-identity .branding-identity-imgs img, .project-details-page .printed-stationery .branding-identity-imgs img{
  zoom: 60%;
}
}
