<div class="container text-center">
  <div class="work-details">
      <span class="animated-delay-1" animateOnScroll animationName="animated fadeInDown">work</span>
      <h1 class="animated-delay-2" animateOnScroll animationName="animated fadeInDown">made with love</h1>
      <p class="large-media  animated-delay-3" animateOnScroll animationName="animated fadeInDown">
          We treat every project like its our own, like a little <br />
          child a parent loves and want to see grow, <br />
          design is very personal for us
      </p>
      <p class="small-media">
          We treat every project <br />
          like its our own
      </p>
  </div>

<div class="custom-tabs">
  <div class="tabs-route">
    <div class="custom-dropdown" (clickOutside)="onClickedOutside($event)">
        <a (click)="hiddenList =! hiddenList" >
          <span *ngIf="router.url === '/work/branding'" >Branding Projects</span>
          <span *ngIf="router.url === '/work/website'" >website projects</span>
          <span *ngIf="router.url === '/work/app'" >app projects</span>
          <span *ngIf="router.url === '/work/vector-art'" >vector art projects</span>
          <span *ngIf="router.url === '/work/motion'" >motion project</span>
        </a>
    </div>
    <ul *ngIf="hiddenList" class="list-small-media">
      <li><a routerLink='/work/branding' routerLinkActive="active">branding</a></li>
      <li><a routerLink='/work/website' routerLinkActive="active">website</a></li>
      <li><a routerLink='/work/app' routerLinkActive="active" >app</a></li>
      <li><a routerLink='/work/vector-art' routerLinkActive="active">vector art</a></li>
      <li><a routerLink='/work/motion' routerLinkActive="active">motion</a></li>
    </ul>
    <ul class="list-large-media">
      <li><a routerLink='/work/branding' routerLinkActive="active">branding</a></li>
      <li><a routerLink='/work/website' routerLinkActive="active">website</a></li>
      <li><a routerLink='/work/app' routerLinkActive="active" >app</a></li>
      <li><a routerLink='/work/vector-art' routerLinkActive="active">vector art</a></li>
      <li><a routerLink='/work/motion' routerLinkActive="active">motion</a></li>
    </ul>
  </div>


  <div class="tasb-route-content ">
    <router-outlet></router-outlet>
  </div>
</div>

</div>
